Study_Planner.json
{
  "name": "Study Planner",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const safe = (fn, fb) => { try { return fn(); } catch { return fb; } };\nconst form = () => $('form_data').first();\n\nconst handbookText =\n  safe(() => $('pdf_extractor').first().json.text, '') || '(no handbook provided)';\n\nlet codeText =\n  safe(() => { const j = $('code_extractor').first().json; return j.text ?? j.data; }, '')\n  || '(no source code provided)';\ncodeText = codeText.slice(0, 8000);\n\nconst goal  = safe(() => form().json['Study goal'], '');\nconst level = safe(() => form().json['Your level'], 'Unspecified');\nconst email = safe(() => form().json['Email'], '');\n\n// --- learning preferences (VARK) ---\nconst prefLabels = [\n  'When you take in new information, you learn best by',\n  'You remember new material best when you',\n  'When researching a topic on your own, you prefer to',\n  'Your ideal study session looks like',\n  'When memorising facts or terms, you',\n  \"When following a new procedure, you'd rather\",\n  'To understand how something works, you'\n];\nconst tally = { Visual: 0, Auditory: 0, 'Reading/Writing': 0, Kinesthetic: 0 };\nconst answers = [];\nfor (const label of prefLabels) {\n  const a = safe(() => form().json[label], '');\n  if (!a) continue;\n  answers.push(`- ${label}: ${a}`);\n  const key = a.split('—')[0].trim();\n  if (key in tally) tally[key]++;\n}\nconst max = Math.max(0, ...Object.values(tally));\nconst dominant = max === 0\n  ? 'Unspecified'\n  : Object.keys(tally).filter(k => tally[k] === max).join(' / ');\n\nconst prefsBlock = answers.length\n  ? `Dominant style: ${dominant}\\n${answers.join('\\n')}`\n  : '(no learning preferences provided)';\n\nconst prompt =\n`STUDY GOAL:\n${goal}\n\nSELF-ASSESSED LEVEL: ${level}\n\n=== LEARNING PREFERENCES ===\n${prefsBlock}\n\n=== MODULE HANDBOOK ===\n${handbookText}\n\n=== SOURCE CODE ===\n${codeText}`;\n\nreturn [{ json: { prompt, dominant, email } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        -128
      ],
      "id": "eba8e154-d47a-4f4e-bf10-81877c8295a4",
      "name": "context"
    },
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {
          "numPredict": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3344,
        96
      ],
      "id": "f4ec58f5-4773-4ded-be4d-19fa1b5ac9e8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "gAXZlcTZSeSlI5c6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Module_handbook",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2224,
        -192
      ],
      "id": "1c63049d-430b-45fc-a0cb-997044c2c417",
      "name": "pdf_extractor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b01f8caf-2f6b-4fe2-86d0-9e10bd3228e6",
              "leftValue": "={{ $('form_data').first().binary?.Module_handbook?.fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        -128
      ],
      "id": "65d19209-ab52-4dda-a427-39df99167697",
      "name": "has_handbook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30218b28-4292-4d3d-9ea6-1ac082193014",
              "leftValue": "={{ $('form_data').first().binary?.Source_code?.fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        -128
      ],
      "id": "a52e5a08-d309-435b-a42a-b74a56760192",
      "name": "has_code"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Source_code",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2896,
        -192
      ],
      "id": "6d861458-75d1-469a-b00b-5fe5359616ba",
      "name": "code_extractor"
    },
    {
      "parameters": {
        "model": "gemma4:26b-a4b-it-qat",
        "options": {
          "numPredict": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3888,
        96
      ],
      "id": "58840a92-5753-41df-8772-b80fae6fa558",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "gAXZlcTZSeSlI5c6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('plan_agent').item.json.output }}",
        "options": {
          "systemMessage": "/no_think\nYou are a wellness assistant for students. You receive a finished STUDY PLAN including its proposed weekly schedule.\nEstimate the weekly study load the plan implies versus the student's likely free time, flag burnout risk (sessions too long, no rest days, back-to-back heavy days), and suggest concrete breaks tied to the ACTUAL schedule — reference specific days and time blocks from the plan.\nBe specific and brief. Do NOT rewrite the plan. Output short Markdown: a 1-2 sentence load assessment, one \"Burnout risk: Low/Medium/High\" line with the reason, and 2-4 concrete break suggestions that name real slots in the schedule."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3808,
        -128
      ],
      "id": "a04f91f4-bcc3-42de-bdcb-a11f5c3e458f",
      "name": "wellness_agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('plan_agent').item.json.output }}",
        "options": {
          "systemMessage": "/no_think\nYou are a sustainability assistant for students. You receive a finished STUDY PLAN that names the student's real modules and activities.\nSuggest 2-4 concrete sustainable practices tied to those ACTUAL modules (e.g. paperless workflow for a named module, reusing compute/notebooks across sessions, batching lab/on-campus days to cut commuting, sharing resources). Every suggestion must name the specific module or activity it applies to. No generic eco-tips.\nOutput short Markdown: a bullet list of 2-4 items, each one sentence."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4160,
        -128
      ],
      "id": "bcbe7c89-319b-4043-ab88-40c2662a9f87",
      "name": "sustainability_agent"
    },
    {
      "parameters": {
        "model": "gemma4:26b-a4b-it-qat",
        "options": {
          "numPredict": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4240,
        96
      ],
      "id": "f851e495-51f6-48a4-be66-c1334825f972",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "gAXZlcTZSeSlI5c6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst dir = '/data/flagged';\nfs.mkdirSync(dir, { recursive: true });\nconst report = $json.report || '';\nconst name = (($json.name) || 'student').replace(/[^a-z0-9]+/gi, '_').toLowerCase();\nconst stamp = new Date().toISOString().slice(0,19).replace(/[:T]/g,'-');\nconst path = `${dir}/plan-${name}-${stamp}.md`;\nfs.writeFileSync(path, report);\nreturn [{ json: { saved: path, bytes: report.length, report, name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        -128
      ],
      "id": "42e0cda5-3357-4052-b053-78c3473cd60e",
      "name": "save_report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "/no_think\n\nWhen tools are available, call get_weather and get_calendar_commitments before writing the plan. Never schedule a study session over an existing calendar commitment — work around them. Only use weather when suggesting outdoor breaks or study locations.\n\nYou are a study planning assistant. You receive a STUDY GOAL, a SELF-ASSESSED LEVEL, the text of a MODULE HANDBOOK (topics, learning outcomes, assessments with weights/deadlines), and optionally SOURCE CODE.\n\nProduce a realistic, actionable study plan that:\n- Works backwards from assessment deadlines/weights in the handbook (heavier or sooner assessments get more time).\n- Breaks the goal into weekly milestones, then concrete study sessions (topic + duration + intended output).\n- Proposes a realistic weekly schedule across the student's available study days.\n- States trade-offs honestly if the time before deadlines is tight.\n\nCalibrate the plan to SELF-ASSESSED LEVEL:\n- Beginner: assume little prior knowledge, scaffold fundamentals first, slower ramp, define key terms.\n- Intermediate: brief refreshers only, focus on application and gaps.\n- Advanced: skip fundamentals, emphasise depth, edge cases and pace; assume fluency.\n\nCalibrate the MEDIUM of each study activity to the LEARNING PREFERENCES block. Visual → diagrams, video walkthroughs, mind-maps. Auditory → recorded explanations, study-group discussion, talk-throughs. Reading/Writing → readings, written summaries, note-taking. Kinesthetic → hands-on labs, coding exercises and practice problems first. If preferences are unspecified, vary the medium sensibly. This changes HOW sessions are delivered, never the grounding rules on deadlines.\n\nTreat SOURCE CODE as hands-on practice/reference material to work through, not just read.\n\nYou may ONLY use get_calendar_commitments to read existing commitments. Never call create_calendar_event.\n\nOutput clean Markdown only: a one-paragraph summary, a \"Weekly Milestones\" section, a \"Detailed Schedule\" table (Day | Time block | Module/Topic | Task), and a short \"Risks & assumptions\" list. Do not invent deadlines not present in the handbook; if a deadline is unknown, say so."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3408,
        -128
      ],
      "id": "9cbec6a0-2256-4546-ac8e-dc10437426fd",
      "name": "plan_agent"
    },
    {
      "parameters": {
        "jsCode": "const safe = (fn, fb) => { try { return fn(); } catch { return fb; } };\n\nconst f = $('form_data').first().json;\n\nconst rating  = safe(() => Number($('Feedback').first().json['Rating']), 0) || 0;\nconst comment = safe(() => String($('Feedback').first().json['Comments'] || '').trim(), '');\n\nconst student = safe(() => f['Student Name'], 'Student');\nconst email   = safe(() => f['Email'], '');\nconst level   = safe(() => f['Your level'], 'Unspecified');\nconst goal    = safe(() => f['Study goal'], '');\n\n// the full assembled inputs the plan was built from (handbook + level + prefs + code)\nconst inputs  = safe(() => String($('context').first().json.prompt || ''), '').slice(0, 12000);\n// the actual generated plan markdown\nconst plan    = safe(() => String($('save_report').first().json.report || ''), '');\n\nconst stamp = new Date().toISOString();\nconst feedback_id = `${stamp}__${String(student).replace(/[^a-z0-9]+/gi, '_').toLowerCase()}`;\n\nreturn [{ json: {\n  feedback_id,\n  created_at: stamp,\n  student,\n  email,\n  level,\n  goal,\n  inputs,\n  plan,\n  rating,\n  comment,\n  evaluated: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        -128
      ],
      "id": "481821ee-8533-47f3-953a-6c684bc00838",
      "name": "log_feedback"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Rating",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Comments",
              "fieldType": "textarea",
              "placeholder": "What was easy or annoying about using the tool?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        5536,
        -128
      ],
      "id": "457d2d3b-5185-4725-bd7c-f8b20ac78d32",
      "name": "Feedback",
      "webhookId": "4cb629aa-b937-4d43-97ed-14200ef52f89"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "Your study plan is ready 🎉",
        "completionMessage": "Your plan and calendar (.ics) are downloading now. Import the .ics into your calendar app to add your study sessions.\n\nmade with ❤️ by study buddies!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        6880,
        -224
      ],
      "id": "cbc3447e-3124-4a4a-9ecf-5ce46e7fe058",
      "name": "Completion",
      "webhookId": "1bfbc062-392a-4995-81a0-fa1653ee2def"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/3a11b8ec-2585-498b-b6f9-fb5e5dd27ed9",
        "include": "selected",
        "includeTools": [
          "get_calendar_commitments"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        3472,
        96
      ],
      "id": "97ff2e1e-38b7-42c7-bc6a-1b321a6628e9",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "toolDescription": "Returns the 7-day Berlin weather forecast. Takes no parameters.",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&daily=weather_code,temperature_2m_max,temperature_2m_min&forecast_days=7&timezone=Europe%2FBerlin",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        3600,
        96
      ],
      "id": "c9dd448b-6c24-4075-ad04-5155ac6c15ab",
      "name": "get_weather"
    },
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {
          "numPredict": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        5040,
        96
      ],
      "id": "1483c5d6-76e0-4b6a-8743-b9a855a6fbb1",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "gAXZlcTZSeSlI5c6",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('save_report').first().json.report }}",
        "options": {
          "systemMessage": "/no_think\nYou extract scheduled study sessions from a study plan. Read the plan and return ONLY a JSON array, no prose, no code fences. Each element: {\"day\":\"Monday\",\"start\":\"HH:MM\",\"end\":\"HH:MM\",\"title\":\"short label\"}. Use 24-hour times. Use the weekday names exactly as Monday..Sunday. Include only concrete study sessions with a day and a start time; ignore deadlines, milestones and prose. If none are found, return []."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4960,
        -128
      ],
      "id": "ecb5fc88-5236-4368-a74d-10034b18861a",
      "name": "ics_agent"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst dir = '/data/flagged';\nfs.mkdirSync(dir, { recursive: true });\n\nfunction extractArray(raw) {\n  let s = String(raw)\n    .replace(/<\\|?[a-z_]+\\|?>/gi, '')\n    .replace(/```[a-z]*\\n?/gi, '').replace(/```/g, '');\n  try { const v = JSON.parse(s); if (Array.isArray(v)) return v; } catch {}\n  const i = s.indexOf('['), j = s.lastIndexOf(']');\n  if (i !== -1 && j > i) { try { const v = JSON.parse(s.slice(i, j + 1)); if (Array.isArray(v)) return v; } catch {} }\n  return [];\n}\n\nconst DOW = { sunday:0, monday:1, tuesday:2, wednesday:3, thursday:4, friday:5, saturday:6 };\nconst pad = n => String(n).padStart(2, '0');\n\nfunction nextDateForDow(dow) {\n  const now = new Date();\n  const delta = (dow - now.getDay() + 7) % 7;\n  return new Date(now.getFullYear(), now.getMonth(), now.getDate() + delta);\n}\nfunction fmt(d, hhmm) {\n  const [h, m] = String(hhmm || '09:00').split(':').map(x => parseInt(x, 10) || 0);\n  return `${d.getFullYear()}${pad(d.getMonth()+1)}${pad(d.getDate())}T${pad(h)}${pad(m)}00`;\n}\nfunction esc(t) {\n  return String(t || 'Study session')\n    .replace(/\\\\/g,'\\\\\\\\').replace(/;/g,'\\\\;').replace(/,/g,'\\\\,').replace(/\\r?\\n/g,'\\\\n');\n}\n\nconst raw = $json.output ?? $json.text ?? '';\nconst events = extractArray(raw).filter(e => e && e.day && e.start);\n\nconst src  = $('save_report').first().json;\nconst name = src.name || 'student';\n\nconst now = new Date();\nconst dtstamp = `${now.getUTCFullYear()}${pad(now.getUTCMonth()+1)}${pad(now.getUTCDate())}T${pad(now.getUTCHours())}${pad(now.getUTCMinutes())}${pad(now.getUTCSeconds())}Z`;\n\nconst lines = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Study Planner//EN','CALSCALE:GREGORIAN','METHOD:PUBLISH'];\nevents.forEach((e, idx) => {\n  const key = String(e.day).trim().toLowerCase();\n  if (!(key in DOW)) return;\n  const d = nextDateForDow(DOW[key]);\n  lines.push(\n    'BEGIN:VEVENT',\n    `UID:study-${idx}-${Date.now()}@study-planner`,\n    `DTSTAMP:${dtstamp}`,\n    `DTSTART:${fmt(d, e.start)}`,\n    `DTEND:${fmt(d, e.end || e.start)}`,\n    'RRULE:FREQ=WEEKLY;COUNT=12',\n    `SUMMARY:${esc(e.title)}`,\n    'END:VEVENT'\n  );\n});\nlines.push('END:VCALENDAR');\nconst ics = lines.join('\\r\\n') + '\\r\\n';\n\nconst safeName = String(name).replace(/[^a-z0-9]+/gi,'_').toLowerCase();\nconst stamp = new Date().toISOString().slice(0,19).replace(/[:T]/g,'-');\nconst path = `${dir}/plan-${safeName}-${stamp}.ics`;\nfs.writeFileSync(path, ics);\n\nreturn [{ json: { ics_saved: path, events: events.length, report: src.report, name, saved: src.saved } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5312,
        -128
      ],
      "id": "c50f8ae0-f436-40cd-aaa5-f071425fcc8e",
      "name": "build_ics"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\n// Pull the generated content from build_ics BY NAME, so it doesn't matter that\n// the feedback/logging steps dropped the binary along the way.\nconst info    = $('build_ics').first().json;\nconst planMd  = info.report || '';     // the full markdown study plan\nconst icsPath = info.ics_saved;        // path to the .ics already written to disk\n\nconst planBuf = Buffer.from(planMd, 'utf8');\nconst icsBuf  = fs.readFileSync(icsPath);   // read the .ics back from disk\n\nreturn [{\n  json: { bundled: true },\n  binary: {\n    plan: {\n      data: planBuf.toString('base64'),\n      fileName: 'study-plan.md',\n      mimeType: 'text/markdown',\n    },\n    calendar: {\n      data: icsBuf.toString('base64'),\n      fileName: 'study-plan.ics',\n      mimeType: 'text/calendar',\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        -224
      ],
      "id": "04c2503b-c672-4006-89a5-83717925d38e",
      "name": "bundle_files"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "plan, calendar",
        "fileName": "study-plan.zip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        6656,
        -224
      ],
      "id": "f332841d-d4a2-433c-b267-9ac5c062eb63",
      "name": "Compression"
    },
    {
      "parameters": {
        "jsCode": "const safe = (fn, fb) => { try { return fn(); } catch { return fb; } };\nconst name = safe(() => $('form_data').first().json['Student Name'], 'Student');\nconst plan     = safe(() => $('plan_agent').first().json.output, '');\nconst wellness = safe(() => $('wellness_agent').first().json.output, '');\nconst sustain  = safe(() => $('sustainability_agent').first().json.output, '');\n\nconst report =\n`# Study Plan — ${name}\n\n${plan}\n\n---\n\n## Wellness check\n${wellness}\n\n---\n\n## Sustainability\n${sustain}\n`;\nreturn [{ json: { report, name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4512,
        -128
      ],
      "id": "fbe71e25-34a2-4121-8c52-d83493c72647",
      "name": "assemble_report"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "J3YVpdSwqeTl603G",
          "mode": "list",
          "cachedResultName": "student_feedback",
          "cachedResultUrl": "/projects/g55MVXO7WPKLPZfu/datatables/J3YVpdSwqeTl603G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "evaluated": "={{ $json.evaluated }}",
            "rating": "={{ $json.rating }}",
            "feedback_id": "={{ $json.feedback_id }}",
            "student": "={{ $json.student }}",
            "created_at": "={{ $json.created_at }}",
            "email": "={{ $json.email }}",
            "level": "={{ $json.level }}",
            "goal": "={{ $json.goal }}",
            "inputs": "={{ $json.inputs }}",
            "plan": "={{ $json.plan }}",
            "comment": "={{ $json.comment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "feedback_id",
              "displayName": "feedback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "student",
              "displayName": "student",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "inputs",
              "displayName": "inputs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "plan",
              "displayName": "plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "evaluated",
              "displayName": "evaluated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5984,
        -128
      ],
      "id": "7008f9cc-3139-43f6-9e47-780adb674734",
      "name": "save_feedback_row"
    },
    {
      "parameters": {
        "formTitle": "Let's build your study plan",
        "formDescription": "Please provide us the following details on the next few pages.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Student Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -240,
        -128
      ],
      "id": "800fb434-f12d-431b-8aa9-d286d2616197",
      "name": "Page 1 - Your details",
      "webhookId": "2e11f23a-5ada-4e97-a4bc-06167827354e"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Study goal",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        -16,
        -128
      ],
      "id": "66ecc766-487b-4d0b-b211-7344dc7d2ea8",
      "name": "Page 2 - Study goal",
      "webhookId": "ea395559-80fa-4d7b-a235-f45183f3c0bc"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Module handbook",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Source code",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        208,
        -128
      ],
      "id": "76807106-89ea-4fc6-80c5-3ddcaf8d767a",
      "name": "Page 3 - Uploads",
      "webhookId": "b5e9fd2e-b543-4e1e-ae23-5609b0e0e54f"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your level",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Beginner"
                  },
                  {
                    "option": "Intermediate"
                  },
                  {
                    "option": "Advanced"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        432,
        -128
      ],
      "id": "03eaec29-9a9f-419a-b693-939b7a33768f",
      "name": "Page 4 - Your level",
      "webhookId": "a23df4ce-77b7-4390-8812-5263a99f02c2"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "When you take in new information, you learn best through which of the following mediums?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Visual"
                  },
                  {
                    "option": "Auditory"
                  },
                  {
                    "option": "Reading/Writing"
                  },
                  {
                    "option": "Kinesthetic"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        656,
        -128
      ],
      "id": "1c7487ba-bed5-4cf3-a4fa-00e1631570b6",
      "name": "Page 5 - Learning style - 1",
      "webhookId": "fafd1f74-baae-4729-a897-29cec23b3a52"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "When researching a topic on your own, you prefer which of the following the most?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Visual"
                  },
                  {
                    "option": "Auditory"
                  },
                  {
                    "option": "Reading/Writing"
                  },
                  {
                    "option": "Kinesthetic"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        880,
        -128
      ],
      "id": "f476e26f-22dc-4eca-9ade-f65a7f15c2ad",
      "name": "Page 5 - Learning style - 2",
      "webhookId": "fafd1f74-baae-4729-a897-29cec23b3a52"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "When memorising facts or terms, you prefer which of the following the most?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Visual"
                  },
                  {
                    "option": "Auditory"
                  },
                  {
                    "option": "Reading/Writing"
                  },
                  {
                    "option": "Kinesthetic"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1104,
        -128
      ],
      "id": "3d6643e0-0586-40ba-9b25-d90ca79ac9c3",
      "name": "Page 5 - Learning style - 3",
      "webhookId": "fafd1f74-baae-4729-a897-29cec23b3a52"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "To understand how something works, you prefer the which of following the most?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Visual"
                  },
                  {
                    "option": "Auditory"
                  },
                  {
                    "option": "Reading/Writing"
                  },
                  {
                    "option": "Kinesthetic"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1328,
        -128
      ],
      "id": "a22baff9-e321-423a-ad67-c6b82d617031",
      "name": "Page 5 - Learning style - 4",
      "webhookId": "fafd1f74-baae-4729-a897-29cec23b3a52"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "How should we hand over your schedule?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Download a calendar file (.ics) I can open myself"
                  },
                  {
                    "option": "Add the sessions to my Mac calendar automatically"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1552,
        -128
      ],
      "id": "4490ae51-a616-462f-a5b8-62c3f8447319",
      "name": "Page 6 - Calendar delivery",
      "webhookId": "169f0146-8407-43e9-a61e-c81929adc97f"
    },
    {
      "parameters": {
        "jsCode": "const safe = (fn, fb) => { try { return fn(); } catch { return fb; } };\n\nconst p1 = safe(() => $('Page 1 - Your details').first().json, {});   // Student Name, Email\nconst p2 = safe(() => $('Page 2 - Study goal').first().json, {});     // Study goal\nconst p4 = safe(() => $('Page 4 - Your level').first().json, {});     // Your level\nconst p5 = safe(() => $('Page 5 - Learning style').first().json, {}); // 7 VARK answers\nconst p6 = safe(() => $('Page 6 - Calendar delivery').first().json, {}); // delivery choice\n\nconst json = { ...p1, ...p2, ...p4, ...p5, ...p6 };\n\n// carry the uploaded files forward (Module_handbook / Source_code), if any\nconst binary = safe(() => $('Page 3 - Uploads').first().binary, {}) || {};\n\nreturn [{ json, binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -128
      ],
      "id": "5516328b-64a5-41c4-8168-8acf971c1d7f",
      "name": "form_data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "abe09d40-2392-4405-8324-50cb320c18b4",
              "leftValue": "={{ $('Page 6 - Calendar delivery').first().json['Calendar delivery'] }}",
              "rightValue": "Download a calendar file (.ics) I can open myself",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6208,
        -128
      ],
      "id": "e31fbdec-6ccf-47ad-ac0b-264430c8935d",
      "name": "delivery_choice"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Your study plan is ready 🎉",
        "completionMessage": "Your study sessions have been added to your subscribed \"Study Planner\" calendar 🎉\nThey'll show up in Calendar within a few minutes.\n\nmade with ❤️ by study buddies!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        6656,
        -32
      ],
      "id": "6d7e4ed7-fe6d-4cb8-81ac-81b923d749ad",
      "name": "Completion - Auto add",
      "webhookId": "12cfa976-4ec1-469b-9cea-a57d78bd0be9"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst src  = $('build_ics').first().json.ics_saved;     // this run's .ics\nconst dest = '/data/flagged/study-calendar.ics';        // the file Calendar subscribes to\nfs.copyFileSync(src, dest);\nreturn [{ json: { published: true, calendar_file: dest } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        -32
      ],
      "id": "a9474460-4fc8-4faa-a1a6-28dc11dee408",
      "name": "publish_calendar"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {}, binary: $('form_data').first().binary || {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -192
      ],
      "id": "32af88d5-7b06-44d7-bc59-5c9d3e01ab1d",
      "name": "attach_code_file"
    }
  ],
  "pinData": {},
  "connections": {
    "context": {
      "main": [
        [
          {
            "node": "plan_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "plan_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pdf_extractor": {
      "main": [
        [
          {
            "node": "has_code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has_handbook": {
      "main": [
        [
          {
            "node": "pdf_extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "has_code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has_code": {
      "main": [
        [
          {
            "node": "attach_code_file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code_extractor": {
      "main": [
        [
          {
            "node": "context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "wellness_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "wellness_agent": {
      "main": [
        [
          {
            "node": "sustainability_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sustainability_agent": {
      "main": [
        [
          {
            "node": "assemble_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "sustainability_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "plan_agent": {
      "main": [
        [
          {
            "node": "wellness_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_report": {
      "main": [
        [
          {
            "node": "ics_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback": {
      "main": [
        [
          {
            "node": "log_feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log_feedback": {
      "main": [
        [
          {
            "node": "save_feedback_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "plan_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_weather": {
      "ai_tool": [
        [
          {
            "node": "plan_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "ics_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ics_agent": {
      "main": [
        [
          {
            "node": "build_ics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_ics": {
      "main": [
        [
          {
            "node": "Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bundle_files": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assemble_report": {
      "main": [
        [
          {
            "node": "save_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_feedback_row": {
      "main": [
        [
          {
            "node": "delivery_choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 1 - Your details": {
      "main": [
        [
          {
            "node": "Page 2 - Study goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 2 - Study goal": {
      "main": [
        [
          {
            "node": "Page 3 - Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 3 - Uploads": {
      "main": [
        [
          {
            "node": "Page 4 - Your level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 4 - Your level": {
      "main": [
        [
          {
            "node": "Page 5 - Learning style - 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 5 - Learning style - 1": {
      "main": [
        [
          {
            "node": "Page 5 - Learning style - 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 5 - Learning style - 2": {
      "main": [
        [
          {
            "node": "Page 5 - Learning style - 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 5 - Learning style - 3": {
      "main": [
        [
          {
            "node": "Page 5 - Learning style - 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 5 - Learning style - 4": {
      "main": [
        [
          {
            "node": "Page 6 - Calendar delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page 6 - Calendar delivery": {
      "main": [
        [
          {
            "node": "form_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form_data": {
      "main": [
        [
          {
            "node": "has_handbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delivery_choice": {
      "main": [
        [
          {
            "node": "bundle_files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "publish_calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publish_calendar": {
      "main": [
        [
          {
            "node": "Completion - Auto add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attach_code_file": {
      "main": [
        [
          {
            "node": "code_extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e1fff9df-635e-4825-b237-907f8a41e875",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40a9dfe768665d2830970e3112a685f80ae1ee5caef5030b877cb1775dfeddad"
  },
  "nodeGroups": [],
  "id": "IClAqliuoAElXQeL",
  "tags": []
}